@model IEnumerable<Party.Models.Guest>

@{
    ViewBag.Title = "Attending Guests";
}

<h2>Attending Guests</h2>

<p>
    @Html.ActionLink("Lisa uus", "Create")<br />
    @Html.ActionLink("Tulevad", "Accept")
    @Html.ActionLink("Loobusid", "Reject")
    @Html.ActionLink("Kõik", "Guests")
</p>
<table class="table">
    <tr>
        <th>
            Nimi
        </th>
        <th>
            Epost
        </th>
        <th>
            Number
        </th>
        <th>
            Osleb
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WillAttend)
            </td>
           
            <td>
                @Html.ActionLink("Muuda", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Üksikasjad", "Details", new { id = item.Id }) |
                @Html.ActionLink("Kustuta", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
